##############################################################
#                                                            #
# DFA Example                                                #
# The DFA accepts all strings of odd length and has the      #
# following sections:                                        #
#                                                            #
# Sigma  -  alphabet                                         #
# States -  set of states                                    #
# Start  -  start state                                      #
# Final  -  set of final states                              #
# Delta  -  tranzition function                              #
#                                                            #
# The letters from the alphabet, the states and the function #
# rules are separated on individual lines                    #
#                                                            #
##############################################################

Sigma:  # alphabet formed from letters
    0
    1
States: # set of states
    q0
    q1
Start:  # start state
    q0
Final:  # set of final states
    q1
Delta:
    # set of rules for the delta function
    # a rule is a 3-tuple: (state1, letter, state2)
    # the rule resembles a tranzition: (state1, letter) -> state2 
    q0,0,q1
    q0,1,q1
    q1,0,q0
    q1,1,q0