#
# Treasure hunt DFA map 1
# Treasure hunt DFA
# The player can move from St start room with n,s,e,w directions.
# The player needs to collect the key by entering the room before going to the end room.
#
# The map is as follows:
#
#           +-----+               
#           | Key |               
#           +--+--+               
#              |                  
# +----+    +--+--+    +-----+     
# | St +----+     +----+ End |     
# +----+    +-----+    +-----+   
#  

Sigma:
    n
    w
    e
    s
States:
    q0
    q1
    q2
    q3
    q4
    q5
    q6
Start:
    q0
Final:
    q5
Delta:
    q0,e,q1
    q1,w,q0
    q1,n,q2
    q1,e,q6
    q6,w,q1
    q1,n,q2
    q2,s,q3
    q3,n,q2
    q3,w,q4
    q3,e,q5
    q4,e,q3