#
# Treasure hunt map 3
# Player starts in start room. The player dies if it goes into Ghost room without picking up the sword first.
# The player wins if it gets into Treasure room with the key.
#
#             +-------+              
#             |       |              
#             | Sword |              
#             +---+---+              
#                 |                  
# +-------+   +---+---+   +-------+  
# |       +---+       +---+       |  
# | Start |   |       |   |   Tr  |  
# +-------+   +---+---+   +-------+  
#                 |                  
#             +---+---+              
#             |       |              
#             | Ghost |              
#             +---+---+              
#                 |                  
#             +---+---+              
#             |       |              
#             |  Key  |              
#             +-------+              

Sigma:
    n
    s
    e 
    w 
States:
    00100   # room 1
    00101
    00111

    01000   # room 2
    01001
    01011

    01101   # room 3: sword room (can't be in room without having a sword)
    01111

    10000   # room 4: treasure room
    10001

    10101   # room 5: monster that needs to be killed
    10111

    11011   # room 6: key room (can't be in key room without sword (would be dead otherwise))

    0       # dead room (went without a sword in room 5)
    1       # treasure collected room

Start:
    00100
Final:
    1
Delta:
    00100,e,01000   # room 1 tranzitions
    00101,e,01001
    00111,e,01011

    01000,n,01101   # room 2 tranzitions
    01001,n,01101
    01011,n,01111
    01000,e,10000
    01001,e,10001
    01011,e,1
    01000,s,0
    01001,s,10101
    01011,s,10111

    01101,s,01001   # room 3 tranzitions
    01111,s,01011

    10000,w,01000   # room 4 tranzitions
    10001,w,01001

    10101,s,11011   # room 5 tranzitions
    10111,s,11011
    10101,n,01001
    10111,n,01011

    11011,n,10111   # room 6 tranzitions