# 
# NFA Example
# The NFA accepts strings that have the length a multiple of 6
# 

Sigma:  # alphabet formed of letters
    0
    1
States: # set of states
    q0
    q1
    q2
    q3
    q4
    q5
Start:  # start state
    q0
Final:  # set of final states
    q1
    q2
Delta:
    # set of rules for the delta function
    # a rule is a 3-tuple: (state1, letter, state2)
    # the rule resembles a tranzition: (state1, letter) -> state2 
    
    q0,epsilon,q1
    q0,epsilon,q2
    q1,0,q3
    q1,1,q3
    q3,0,q1
    q3,1,q1
    q2,0,q4
    q2,1,q4
    q4,0,q5
    q4,1,q5
    q5,0,q2
    q5,1,q2
