#
# Treasure hunt DFA
# The player can move from St start room with n,s,e,w directions.
# The player needs to collect the key by entering the room before going to the end room.
#
# The map is as follows:
#
# +-----+    +-----+     
# |     +----+ Key |     
# +--+--+    +-----+     
#    |                  
# +--+--+    +-----+     
# | St  +----+     |     
# +-----+    +--+--+     
#               |       
#            +--+--+     
#            | End |     
#            +-----+     

Sigma:
    n
    s
    e
    w
States:
    q0
    q1
    q2
    q3
    q4
    q5
    q6
    q7
    q8
    q9
Start:
    q0
Final:
    q9
Delta:
    q0,e,q2
    q0,n,q4
    q2,w,q0
    q2,s,q3
    q3,n,q2
    q4,s,q0
    q4,e,q5
    q5,w,q6
    q6,e,q5
    q6,s,q7
    q7,n,q6
    q7,e,q8
    q8,w,q7
    q8,s,q9