# This Context Free Grammar generates the language of all strings of the form 0^n1^n where n >= 0
#
# The start variable is the input variable of the first rule
# Rule format: Variable -> terminal Variable terminal (at least a terminal or a Variable separated by a single space)
# Multiple rules are allowed on a single line: Variable -> output1 | output2 | output3 (separation with '|')
#

Vars:
    A
Sigma:
    0
    1
Rules:
    A -> 0 A 1 | 0 1