# This CFG generates sentences
#

Vars:
    S
    NP
    VP
    PP
    Det
    N
    PN
    V
    P
Sigma:
    a
    the
    dog
    cat
    frog
    bird
    unicorn
    John
    Mary
    Bob
    Alice
    chased
    petted
    sang_to
    danced_with
    with
    on
    under
Rules:
    S -> NP VP

    NP -> Det N | PN

    VP -> V NP | V NP PP

    PP -> P NP

    Det -> a | the

    N -> dog | cat | frog | bird | unicorn

    PN -> John | Mary | Bob | Alice

    V -> chased | petted | sang_to | danced_with

    P -> with | on | under