# This CFG generates sentences
#

Vars:
    S
    NP
    VP
    PP
    Det
    N
    PN
    V
    P
Sigma:
    a
    the
    dog
    cat
    frog
    bird
    unicorn
    John
    Mary
    Bob
    Alice
    chased
    petted
    sang_to
    danced_with
    with
    on
    under
Rules:
    S -> NP VP

    NP -> Det N
    NP -> PN

    VP -> V NP
    VP -> V NP PP

    PP -> P NP

    Det -> a
    Det -> the

    N -> dog
    N -> cat
    N -> frog
    N -> bird
    N -> unicorn

    PN -> John
    PN -> Mary
    PN -> Bob
    PN -> Alice

    V -> chased
    V -> petted
    V -> sang_to
    V -> danced_with

    P -> with
    P -> on
    P -> under